@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Tajawal:wght@300;400;500;700&family=Work+Sans:ital,wght@0,100;0,200;0,500;0,700;0,800;1,100;1,400&display=swap');
html{
   
     overflow-x:hidden;
    scroll-padding-top: 6rem;
} 

section{
    margin: 0 auto;
    font-family: 'Tajawal', 'Poppins', 'Work Sans', sans-serif;

}
.cart span{
    font-size: 1rem;
}
.continer-box{
    box-sizing: border-box;
    width: auto;
    margin: auto;
    /* background-color: rgb(184, 165, 141); */
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.continer-box .boxes{
   
    /* background-color: red; */
    display: block;
    justify-content: space-between;
    height: auto;
    
    width: 657px;

}
.continer-box .boxes .box1{
    /* background-color: rgb(139, 114, 250); */
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
    border:0.1rem solid rgb(241, 238, 238);
}
.continer-box .boxes .box1 .heading{
    /* background-color: rgb(114, 230, 250); */
    display:flex;
}
.continer-box .boxes .box1 .heading h1{
    text-align:right;
    color:red;
    font-size: 1rem;
} 
.continer-box .boxes .box1 .heading .text{
     margin-left: 165px;
     line-height: 1px;
     margin-top: 17px;

}
.continer-box .boxes .box1 .heading .text h1{
   color:#000;
   font-size: 1rem;
   font-weight: 3rem;
}
.continer-box .boxes .box1 .heading .h1 img{ 
    margin-left: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-right:22px;
 height: 59px;    
}
.continer-box .boxes .box1 .border{
    border-right: 4px solid #ffd500;  
    margin-right: 74px;
    line-height: 1px;
    background-color: snow;
    display: flex;
    

}
.continer-box .boxes .box1 .border .heading1 h1{
    color:#000;
   font-size: 1rem;
   font-weight: 3rem;
}
.continer-box .boxes .box1 .border .form input{
    text-align: left;
    width: 40px;
    margin-right: 6.5rem;

}
.continer-box .boxes h2{
    border:0.1rem solid rgb(241, 238, 238);
}
.continer-box .checkout{
   
    /* background-color: rgb(180, 71, 71); */
    display: block;
    justify-content: space-between;
    height: auto;
}
/* checkout */

.continer-box .checkout{
    /* background-color: teal; */
    width: 300px;
    height: 300px;
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border:0.1rem solid rgb(241, 238, 238);

}
.continer-box .checkout .continer{
    /* background-color: rgb(237, 241, 241); */
   display: flex; 
   justify-content: space-around;

}
/* .continer-box .checkout .continer .div1{
    /* background-color: rgb(219, 206, 22); */

.continer-box .checkout .continer .div1 h1,h2{
  font-size: 1rem;
  line-height: 2px;
}
.continer-box .checkout .continer .div1 p{
    font-size: 1.3rem;
    color:red;
    font-weight: 500px;
  }
  .continer-box .checkout .continer .div1 span{
    font-size: 0.7rem;
    color:black;
  }


.continer-box .checkout .continer .div2 h1{
    font-size: 1rem;
    line-height: 2px; 
    
}
.continer-box .checkout .continer .div2 span{
    font-size: 0.5rem;
    color:black;
  }

.continer-box .checkout .continer .div2 h2{
    font-size: 1rem;
    line-height: 2px; 
    color: cadetblue;
    
}
.continer-box .checkout .continer .div2 p{
    font-size: 1.3rem;
    color:red;
  }
  .continer-box .checkout .continer .div2 p span{
    font-size: 0.5rem;
    color:red;
  }
.continer-box .checkout form{
    /* background-color: rgb(43, 49, 49); */
    display: flex;
    flex-direction: column;
    
}
.continer-box .checkout form a{
    color: aliceblue;
    text-decoration: none;
}
.continer-box .checkout form button{
    /* background-color: rgb(43, 49, 49); */
   background-color: red;
   padding: auto;
   border-radius: 0.2rem;
   border: 0.2rem solid red;
   height: 41.375px;
   margin-bottom: 10px;
   margin-top: 10px;
   font-family: 'Tajawal', 'Poppins', 'Work Sans', sans-serif;
   font-size: 1rem;
   color:rgb(241, 238, 238);
   font-weight: 100px;

}

@media (max-width: 768px) {
    .continer-box{
        flex-direction: column;
    margin-bottom: 3rem; } 
}