
.services h1{
    font-size: 3rem;
    text-align: right;
    margin-inline-start:45px;
    
    

}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
.services .box-container{
    display: flex;
    flex:1 1 40rem;
    padding:3rem;
    border-radius: .5rem;
    
  }
  
  .services .box-container .box{
    flex: 1 1 30rem;
    border-radius: 1rem;
    padding:1rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    margin-left: 10px;
    margin-right: 10px;

  }
  
  .services .box-container .box img{
    padding:1rem;
   
  }
  
  .services .box-container .box h3{
    font-size: 1.5rem;
    color:#333;
  }
  
  
  .services .box-container .box:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  }
  /* Advertisment */
  .Advertisment{
      
    margin-top: 8px;
    margin-right: 36px;
    margin-bottom: 8px;
    margin-left: 32px;
 }
 .Advertisment .photo{
    display: flex;
    flex:1 1 40rem;
    padding:1rem;
    

 }
 @media (max-width: 768px) {
  .services {
    width: 20px;
    height: 239px;  
  }
  .services h1 {
    font-size: 1rem;
    width: 104px;

  }
  .services .box-container{
   padding-right: 8px;

  }
  .services .box-container .box{
    width: 50px;
  }
  .services .box-container .box img{
    
    width: 49px;
    height: 41px;

  }  
  .Advertisment{
    display: none;
    height: 0px;}
  .item4{
    height: 145px;

  }
  }
  @media (max-width: 375px) {
    .services {
      width: 10px;
      height: 200px;  
    }
    .services h1 {
      font-size: 1rem;
      width: 100px;
  
    }
    .services .box-container .box h3 {
      font-size: 1rem;
   
  
    }
    .services .box-container{
     padding-right: 4px;
   
  
    }
    .services .box-container .box{
      width: 26px;
      flex-direction: column;
    }
    .services .box-container .box img{
      
      width: 30px;
      height: 30px;
  
    }
  }
