/*package*/
.packages{
   
    margin-block-end: 6rem;
    margin-block-start: 3rem;
}


.packages .box-container .box .content .book{
display: list-item;    
} 
.packages h1{
    font-size: 3rem;
    text-align: right;
   
    }
    #go{
      float: left;
      margin-top: 2rem;
      margin-left: 5rem;
      text-decoration: underline;
      line-height: normal;
      
    }
    
.packages span{
        font-size: 2rem;
        text-align: right; 
        color:rgb(204, 16, 16);
        
        
        
        }  
.packages .box-container{
  
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    gap:2rem;
    width: 90vw;
  }
  
  .packages .box-container .box{
    flex:1 1 18%;
    border-radius: .5rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    max-width: 250px;
    min-width: 100px;  
    
  }
  .packages .box-container :hover{
   border: 8px solid red;
  } 
  .packages .box-container .box :hover{
    border: 0px solid rgb(82, 68, 68);
  }
  .packages .box-container .box img{
    height: 20rem;
    width:80%;
    object-fit: cover;
  }
  
  .packages .box-container .box .content{
    padding:2rem;
  }
  
  .packages .box-container .box .content h3{
    font-size:2rem;
    color:#333;
  }
  
  .packages .box-container .box .content h3 img{ 
    width: 24px;
    height: 19px;
 }
  
  .packages .box-container .box .content p{
    font-size:1.7rem;
    color:#666;
    padding:1rem 0;
  }
  
  .packages .box-container .box .content .price{
    font-size: 2rem;
    color:rgb(236, 38, 38);
    padding-top: 1rem;
  }
  
  .packages .box-container .box .content .price span{
    color:rgb(236, 38, 38);;
    font-size: 1rem;
   
  }
  .packages .box-container .box .content .btn{
    display: flex;
    margin-top: 10px;
}
  .packages .box-container .box .content a img{
    /* justify-content: space-around; */
    margin-right: 1.5rem;
    margin-left: 1rem;
    height: 3.5rem;
    width: 3.5rem;
}


@media (max-width: 768px) {
  .packages .box-container{
    display: flex;
    flex-direction: column;
    width: 900px;
    margin-right: 10rem;
  }
  @media (max-width: 375px) {
  .packages h1 {
    font-size: 2rem;}
}
.packages .box-container{
  
  width: 370px;
  margin-right: 50px;

}
}