body {

    margin: 0;
    padding: 0;
    background-color: #eeeeee8c;
}

.sin h2 {
    text-align: center;
    font-size: 17px;
    border-bottom: 1px solid #9797978c;
    color: #777;


}

.sin .container {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.sin .container form {

    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 36%;

}

.sin .container form .num {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -15px;


}

.sin .container form .main {
    background-color: #d6ddf5fc;
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 7px;
    border: none;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;


}

.sin .container form input[type='submit'] {
    font-size: 17px;
    color: #777;
    width: 343px;
    text-align: center;
}

@media(max-width:676px) {
    .sin .container form input[type='submit'] {
        display: flex;
        flex-direction: column;
        width: 142px;
    }

}



.sin .container form p {
    font-size: 18px;
    color: #777;
    margin-right: 10px;

}

.sin .container form label {
    margin-right: 2px;
    text-align: initial;
    font-size: 15px;
    font-weight: bold;
    color: #777;

}

.sin .container .info {
    text-align: center;
}

.sin .container .info a {
    text-decoration: none;
    margin: 5px;
    font-size: 18px;
}