@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Tajawal:wght@300;400;500;700&family=Work+Sans:ital,wght@0,100;0,200;0,500;0,700;0,800;1,100;1,400&display=swap');


*::selection{
  background:var(--blue);
  color:#fff;
}

#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
*{
    font-family: 'Tajawal', 'Poppins', 'Work Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
    scroll-behavior: smooth;
   
  } 
  html{
    margin:0; padding:0;
    font-size: 62.5%;
     overflow-x:hidden;
    scroll-padding-top: 6rem;
} 


body{
  text-align: right;
  direction: rtl;
}
  
  section{
    
    padding:2rem 9%;
  }
  .item1 { grid-area: header; }
  .item2 { grid-area: menu; }
  .item3 { grid-area: main; }
  .item4 { grid-area: right; }
  .footer { grid-area: footer; }
  
  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      '  main main main main main main'
      'right right right right right right' 
      'menu menu menu menu menu menu'
      ' footer footer footer footer footer footer';
    grid-gap: 1px;
    
    padding-top: 0px;
    overflow: hidden;
  }
  
  .grid-container > section {
    padding-top: 0px;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
  }
  .item1{
    padding-top: 0px;
    
  }
  .item2{
    
    width: auto;
    margin-top: 23px;
      height: auto;
  }
  .item3{
    height: 54vh;
  }
.item4{
  margin-top: 52px;
  height: 90vh;
}
  header{
    padding:0% 0%;
     margin: 0% 0%; 
     
  } 
  nav{
    margin:0; padding:0;
  }
  .ul{
    position: fixed;
    top:0%;right: 0%;
    left: 0%;
    z-index: 10000;
    
  }
  ul {
     display: flex;
     padding:0% 0%;
     margin: 0% 0%;
     border-bottom: 1px solid #e5e9f2;
     background-color: #fff; 
    height: 43px;
    width: 1360px;
    justify-content: space-between;
       
   }
ul li{
  
  /* flex: 1; */
    font-family: 'Tajawal', 'Poppins', 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #273444;
    list-style: none;
    text-align: center;
    padding: 10px 0px;
    width: fit-content;
    border-right: 1px solid #e5e9f2;
    font-size: 1rem;
    margin: 0%;
    }
    
nav ul li a{
      text-decoration: none;
      font-size: 15px;
      padding: 30px;
      color: none;
      
  }
  nav ul li a img{
    width:16px;
    padding-right: 0‒;
    padding-right: 0px;
    margin-right: 0px;
    margin-inline-end: 22px;
    /* margin-left: 22px; */

}
nav .search{
    
    display: flex;
    justify-content:space-between;
    padding-top: 43px;
    padding-bottom: 0px;
    z-index: -1;
    width: 1277px;
    padding-right: 83px;
    padding-left: 0px;

    
}
nav .search form{
  width: 800px;


}
nav .search .form{
  
  padding-bottom: 21px;
  padding-top: 9px;
  position: relative;
  width: 1000px;


}
nav .search .icon1 img{
 
  height: 80px;
  padding-right: 0px;
  padding-top: 17px;
  padding-left: 0px;

  
}
nav .search .icon{
    font-size: 2rem;
    margin-right: 30px;
    padding-top: 25px;
   padding-right: 81px;
   position: relative;
  
}
nav .search .icon img{
  background-color: #cdcfd4;
  border-radius: 50%;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 8px;  
}
nav .search .form input{
 
    padding: 8px 3px;
    margin-top: 20px;
    border-radius: 0.7rem;
    margin-right: 200px;
    background-color: #e5e9f2;
    text-align: right;
    width: 100%;
}
nav .search .form i {
  position: absolute;
    right: 0;
    top: 35px;
    height: 100%;
     background: transparent;
    border: transparent;
    font-size: 20px;
    color: #b8bdca;
    cursor: pointer;
    outline: 0;
    width: 98rem;
    text-align: left;


    
}
nav .icon a .span{
  height: 27px;
  width: 33px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  position: absolute;
 top:4px;
 left:0px;
 font-size: 2rem;
}
/* footer */

.footer{
  
    padding-left: 0%;
    padding-right: 0%;
  }
  
  .footer .box-container{
    background:#333;
    display: flex;
    flex-wrap: nowrap;
    gap:1.5rem;
  }
  
  .footer .box-container .box{
    padding:1rem 0;
    flex:1 1 25rem;
  }
  .footer .box-container .box .form{
    
    padding-bottom: 109px;
    padding-right: 12px;
    margin-right: 25px;
    padding-top: 27px;
    padding-left: 17px;
    background-color: #484848;
    border-radius: 2px;
    display: block;
    position: relative;
  }
  .footer .box-container .box .form input[type="email"]{
    border-radius: 6px;
    padding: 15px;
    width: 90%;
    cursor: pointer;  
    float: left;
  }
  .footer .box-container .box .form i{
    font-size: 2rem;
    color: #6f7174;
    position: absolute;
    right: 17rem;
    top:4rem;

  }
  .footer .box-container .box .form button{
   border-radius: 6px;
  height: 28px;
   width: 70px;
   margin-top: 13px;
   border-top-width: 0px; 
   cursor: pointer;
   float: left;
  }
  .footer .box-container .box h1{
    border-bottom: 1px solid #b3b3b3;
  }
  .footer .box-container .box h3{
    font-family: Tajawal,sans-serif;
  font-weight: 400px;
 
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#b3b3b3;
  }
  
  .footer .box-container .box p{
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#b3b3b3;
  }
  
  .footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#b3b3b3;
  }
  
  .footer .box-container .box a:hover{
    color:var(--orange);
    text-decoration: underline;
  }
  .footer .box-container1{
   
    background-color: #333; 
  }
  .footer .box-container1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
  }
 
  .footer .box-container1 .box{
    padding:1rem 0; 
  }
  
  .footer .box-container1 .box h1{
    border-bottom: 1px solid #b3b3b3;
    width: 240px;
  }
  
  .footer .box-container1 .box h3{
    font-size: 2rem;
    padding:.7rem 0;
    color:#b3b3b3;
  }
  
  .footer .box-container1 .box p{
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#b3b3b3;
  }
  
  .footer .box-container1 .box a{
    display: inline-block;
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#b3b3b3;
  }
  .footer .box-container1 .box a img{
    height: 30;
    width: 30px;
  }
  
  .footer .box-container1 .box a:hover{
    color:var(--orange);
    text-decoration: underline;
  }
  .footer .box-container2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  
   
  }
   .box-container2 {
    background-color: #fff;
    margin-bottom: 0%;
    
    width: 1232px;
    height: 92px;

  }
  .box-container2 .box{
    padding:1rem 0;
    color: #eee;
  
  }
  
  .box-container2 .box h3{
    font-size: 2.5rem;
    padding:.7rem 0;
    color:rgb(31, 30, 30);
  }
  
   .box-container2 .box p{
    font-size: 1.5rem;
    padding:.7rem 0;
    color:rgb(5, 5, 5);
  }
  
   .box-container2 .box a{
    display: inline-block;
    font-size: 1.5rem;
    padding:.7rem 0;
    color:rgb(8, 8, 8);
  }
  .footer .box-container2 .box a img{
    height: 50;
    width: 80px;
  }
  .box-container2 .box a:hover{
    color:var(--orange);
    text-decoration: underline;
  }

  /* sing up */
  
/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}
.modal-content2 .text3{
  text-align: center;
  font-size: 2rem;
}
.modal-content2 .text{
  
  font-size: 2rem;
}
.modal-content2 .text1{
  font-size: 1rem;
}
.modal-content2 form .fields .field{
  
  height: 38px;
  width: 100%;
  margin-bottom: 15px;
}

.modal-content2 form .fields .field input{
    height: 100%;
    width: 100%;
    border: 1px solid rgb(153, 149, 149);
    border-radius: 3px;
    outline: none;
    /* padding: 0 15px; */
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.modal-content2 form .fields .check input{
    display: inline;
}
.modal-content2 form .fields .field input:focus{
    border-color: #b3b3b3;
}
#number{
  margin-right: 10px;
 width: 250px;
    /* margin-right: 0px; */
}
#select{
  border:0.2rem solid rgb(161, 158, 158);
  border-radius: 0.6rem;
  margin-bottom: 0px;
    width: 52px;
    height: 39px;
    position: absolute;

} 
.modal-content2 form .fields .field.input2 input{
    height: 100%;
    width: 100%;
    border: 1px solid #d4070e;;
    border-radius: 6px;
    outline: none;
    /* padding: 0 15px; */
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
    background-color: #d4070e;;
}
.modal-content2 form .fields .field .input2 input:focus{
    border-color: #d4070e;;
}
/* The Close Button */
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
  
  /* log in */
 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}
.modal-content .text{
  font-size: 2rem;
  text-align: center;
  font-weight: 300px;
}
.modal-content form .fields .field{
  
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.modal-content form .fields .field input{
    height: 100%;
    width: 100%;
    border: 2px solid rgb(250, 244, 244);
    border-radius: 6px;
    outline: none;
    background-color: rgb(226, 220, 236);
    /* padding: 0 15px; */
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.modal-content form .fields .field input:focus{
    border-color: #b3b3b3;
}
.modal-content form .fields .field.input2 input{
    height: 100%;
    width: 100%;
    border: 2px solid rgb(189, 32, 32);
    border-radius: 6px;
    outline: none;
    /* padding: 0 15px; */
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
    background-color: #d4070e;;
    color:azure;
}
.modal-content form .fields .field.input3 .text{
  height: 100%;
  width: 50%;
  border: px solid rgb(255, 254, 254);
  border-radius: 6px;
  outline: none;
 margin: 2px auto;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
  background-color: rgb(253, 237, 237);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
}
.modal-content form .fields .field .input2 input:focus{
    border-color: #d4070e;;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* media */

@media (max-width: 768px) {
  #menu-icon {
    display: initial;
    color: black;
   position: fixed;
   background-color: #eee;
   
   margin-top: 25px;

  }
 
  ul {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(247, 247, 247);
    clip-path: polygon(0 0, 50% 0, 50% 0, 0 0);
    transition: 0.5s ease;
  }
 
  ul.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    height: max-content;
  }
  ul li  {
    width: 40%;
    margin-right: .3rem;
    /* padding: 0.6rem; */ 
  }
  ul li a {
    width: 100%;
    margin-right: .3rem;
    /* padding: 0.6rem; */
    display: block;
    background: #d7d8df;
    border: 2px solid #eee;
  }
  
  .modal-content {
    background-color: #fefefe;
    width: 50%;
  }
  .modal-content2 {
    background-color: #fefefe;
    width: 70%;
  }
  /*search  */
nav .search{
  display:flex;
 justify-self: normal;
  width: 200px;
  padding-top: 0px;
  margin-right: 20px;  
}

nav .search .form{
padding-bottom: 1px;
padding-top: 1px;
position: relative;
width: 100px;
}
nav .search .icon1 img{

height: 40px;
padding-top: 0px;
margin-top: 15px;
margin-left: 14px;

}
nav .search .icon{
  font-size: 1rem;
  margin-left: 0px;
  padding-right: 127px;
}
nav .search .icon img{
background-color: #cdcfd4;
border-radius: 50%;
 
margin-right: 3px;
padding-top: 2px;
padding-right: 8px;
}
nav .search .form input{
 width: 218px;
  margin-right: 10px;
  border-right-width: 4px;
  margin-left: 30px;

}
nav .search .form button {
 width: 220px; 
}


.footer .box-container{
  width: 500px;
  display: flex;
  flex-direction: column;
}
.footer .box-container1{
 width: 500px;
 display: flex;
 flex-direction: column;

}
.footer .box-container2{
  width: 500px;
  display: flex;
  flex-direction: column;
 
 }
}

@media (max-width: 375px) {


  #menu-icon {
    display: initial;
    color: black;
   position: fixed;
   background-color: #eee;
   margin-top: 10px;

  }
  ul {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(247, 247, 247);
    clip-path: polygon(0 0, 50% 0, 50% 0, 0 0);
    transition: 0.5s ease;
  }
 
  ul.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    height: max-content;
  }
  ul li  {
    width: 20%;
    margin-right: .3rem;
    /* padding: 0.6rem; */ 
  }
  ul li a {
    width: 100%;
    margin-right: .3rem;
    /* padding: 0.6rem; */
    display: block;
    background: #d7d8df;
    border: 2px solid #eee;
  }
/*search  */
nav .search{
  display:flex;
 justify-self: normal;
  width: 110px;
  padding-top: 0px;
  margin-right: 20px;
  padding-right: 0px;
  
}

nav .search .form{
padding-bottom: 1px;
padding-top: 1px;
position: relative;
width: 80px;
}
nav .search .icon1 img{

height: 40px;
padding-top: 0px;
margin-top: 15px;
margin-left: 14px;

}
nav .search .icon{
  font-size: 1rem;
  margin-left: 0px;
  padding-right: 100px;
}
nav .search .icon img{
background-color: #cdcfd4;
border-radius: 50%;
 
margin-right: 3px;
padding-top: 2px;
padding-right: 8px;
}
nav .search .form input{
 width: 150px;
  margin-right: 6px;
  border-right-width: 1px;
  margin-left: 15px;

}
nav .search .form button {
 width: 220px; 
}
.footer .box-container{
  
  width: 375px;


}
.footer .box-container1{
  
  width: 375px;



}
.footer .box-container2{
  
  width: 375px;


}


}
